<!-- <div class="mb-12 mt-9 sm:px-6">
  <div class="fj-gallery" style="visibility: hidden; height: 650px;">
    {{ $photos := sort (.Resources.ByType "image") (index .Params "sort_by" | default "Name") (.Params.sort_order | default "asc") }}
    {{ range $index, $original := $photos }}
      {{ if eq $original.ResourceType "image" }}
        {{ $metadata := dict }}
        {{ with $original.Exif }}
          {{ $metadata = merge .Tags $metadata }}
        {{ end }}
        {{ $rotation := "" }}
        {{ with $metadata.Orientation }}
          {{ if or (eq . 8) (eq . 7) }}
            {{ $rotation = " r90" }}
          {{ else if or (eq . 3) (eq . 4) }}
            {{ $rotation = " r180" }}
          {{ else if or (eq . 6) (eq . 5) }}
            {{ $rotation = " r270" }}
          {{ end }}
        {{ end }}
        {{ $thumbnail := ($original.Fit (printf "%s %s" "800x800" $rotation)) }}
        {{ $full := ($original.Fit (printf "%s %s" "1600x1600" $rotation)) }}
        {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
        <a
          href="{{ $original.RelPermalink }}"
          class="fj-gallery-item cursor-zoom-in"
          data-src="{{ $original.RelPermalink }}"
          data-pswp-src="{{ $full.RelPermalink }}"
          data-pswp-width="{{ $full.Width }}"
          data-pswp-height="{{ $full.Height }}"
          {{ with $metadata }}
            {{ if .Title }}
              title="{{ .Title }}"
            {{ else if .ImageDescription }}
              title="{{ .ImageDescription }}"
            {{ end }}
          {{ end }}
          itemscope
          itemtype="https://schema.org/ImageObject"
          style="background-color: {{ $color }}; aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}"
        >
          <img
            width="{{ $thumbnail.Width }}"
            height="{{ $thumbnail.Height }}"
            class="lazyload"
            data-src="{{ $thumbnail.RelPermalink }}"
            {{ with $metadata }}
              {{ if .ImageDescription }}
                alt="{{ .ImageDescription }}"
              {{ else }}
                {{ if .Title }}
                  alt="{{ .Title }}"
                {{ end }}
              {{ end }}
            {{ end }}
          />
          <meta itemprop="contentUrl" content="{{ $original.RelPermalink }}" />
          {{ with $.Site.Author }}
            <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
              <meta itemprop="name" content="{{ $.Site.Author.name }}" />
            </span>
          {{ end }}
        </a>
      {{ end }}
    {{ end }}
  </div>
</div> -->

{{ if isset .Params "topic_image" }}
<div
  class="mb-12 mt-9 grid grid-cols-1 gap-x-6 gap-y-9 px-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 3xl:grid-cols-5">
  {{ range $index, $item := .Params.items }}
  <div class="h-100">
    <div class="w-full overflow-hidden rounded-2xl">
      <img class="" src="{{ $item.image }}" style="width: 100%;" alt="{{ $item.title }}" />
    </div>
    <div class="p-5">
      <h5 class="mb-2 text-lg font-semibold leading-6">
        {{ $item.title }}
      </h5>
      <div style="margin-top: 5px;">
        <a href="{{ $item.link }}" target="_blank"
          style="padding: 10px; background-color: #fff; text-align: center; border-radius: 5px; color: black;">添加此贴纸</a>
      </div>
    </div>
  </div>
  {{ end }}
</div>
{{ else }}
<div class="mb-12 mt-9 sm:px-6">
  <div style="margin-bottom: 10px;">
    <a href="{{ .Params.link }}" target="_blank"
      style="padding: 10px; background-color: #fff; text-align: center; border-radius: 5px; color: black;">添加此贴纸</a>
  </div>
  <div class="fj-gallery" style="visibility: hidden; display: grid; grid-template-columns: repeat(4, 1fr);">
    {{ $photos := .Params.images }}
    {{ range $index, $original := $photos }}
    <img class="lazyload" style="display: inline; margin-top: 5px;" data-src="{{ $original }}" />
    {{ end }}
  </div>
</div>
{{end}}